*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    
    
}

body{
    background-color: rgb(41, 26, 20);
    color:beige;
    padding-top: 13vh;
    
}

.navbar {
    

 height: 13vh;
 display: flex;
 justify-content: space-between;
 background-color: black ;
 position: fixed;
top: 0;
width: 100%;
z-index: 1;
 overflow: hidden;
  
}


.navbar img{
    height: 13vh;
    padding-left: 60px;
}



.navbar ul li a{
text-decoration: none;
color: beige;
}

.navbar ul li{
    display: inline-block;
    font-size: 60px;
    padding: 20px 80px;
    font-size: 30px;
     list-style: none;
     
}

.navbar img{
    cursor: arrow;
}

.navbar li a:hover {
    background-color:rgb(92, 64, 51);
    border:2px solid beige
}

#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("images/pexels-saulo-leite-1491182-18262223.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    z-index: -5;
}




h1{
    font-size: 10px;
    letter-spacing: 2px;
    animation: drop 1s ease forwards;
}
h1, h2{
    font-family: 'Playfair Display', serif;
}


p {
  cursor: move;
  font-size: 30px;
}
main img {
  cursor: grab;
}



@keyframes drop{
    from{transform: translateY(-200px);
    opacity: 0
}
    to{transform:translateY(0px);
    opacity: 1;
}
}



.all{
  display: grid;
  justify-content: space-between;
padding: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-direction: column;
  padding-top: 30px;
}

.alll{
  display: grid;
  justify-content: space-between;
padding: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-direction: column;
  padding-top: 30px;
}


    

.cars{
    position:relative;
    width:100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.cars img{
    width:100%;
    height:100%;
    object-fit: cover;
}


.cars img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.cars:hover .description {
    opacity: 1;
    transform: translateY(0);
}
.description{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}
.second{
    display: flex;
    height: 100vh;
    flex-direction: column;
    
    
}

h2{
    font-size: 60px;
    text-align: center;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 87vh;
    justify-content: center;
    background-image: url("images/07e27cf5bea9990dac8c243275bb8973.jpg");
    background-size: cover;
    background-position: center;
    z-index: -9;
    
}

.contact h1{
    font-size: 40px;
}
.contact p{
    margin-top: 2%;
    font-size:20px;
}
form {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    height: 65vh;
    padding: 40px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    gap: 20px;
}

.textarea{
    height: 300px;
}

.okay{
    height: 500px;
}
input text{
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.idk{
    align-items: center;
}
label{
    font-size: 15px;
    color:beige;

}

input{
    cursor:text;
    width: 100%;
    border-radius: 5px;
    background-color: beige;
    height: 300px;
}

input textarea{
    height: 500px;
}
button {
    width: 50%;
    padding: 6px 0;
    border-radius: 20px;
    cursor: pointer;
    align-items: start;
    font-size: 18px;
}

button:hover {
    background-color: black;
    color: beige;
    transform: scale(1.1);
    transition: 0.2s;
}



#abou{
    display: flex;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}
 h1{
    text-align: center;
    font-size: 70px;
}

.abouimg{
    width: 50%;
    border-radius: 20px;
}

.parabout{
    border: 2px solid transparent;
    border-width: 80px;
}

.ins{
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
    padding: 40px;

}



.in{
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
}


.luxury{
    width:99vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/52b4e22335e11b85592958cfa9263176.jpg"); 
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



footer {
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    
    
}
footer p{
    font-size: 20px;
}

@media (max-width: 1158px){
  .all{
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar ul li{
    font-size: 25px;
    padding: 20px;
  }

  .navbar img{
    width:80%;
    height: 90%;
    padding-left: 10px;
    
  }
  .contact{
    flex-direction: column;
    text-align: center;
  }
  form {
        width: 400px;
        height: 450px;
        padding: 30px;
    }
    .contact h1 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    input, text {
        font-size: 16px;
    }
    button {
        width: 180px;
        font-size: 16px;
    }

.okay{
    height: 200px;
}
  
  h1{
    font-size: 45px;
  }

  h2{
    font-size: 30px;
  }
  .cars{
    height: 200px;
  }
  .ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .parabout{
    border: 2px solid transparent;
    border-width: 80px;
    font-size: 10px;
}
}



@media (max-width: 900px){
  .all{
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar ul li{
    font-size: 25px;
    padding: 10px;
  }

  .navbar img{
    width:80%;
    height: 100%;
    padding-left: 10px;
    
  }
  .contact{
    flex-direction: column;
    text-align: center;
  }
  form {
        width: 400px;
        height: 450px;
        padding: 30px;
    }
    .contact h1 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    input, text {
        font-size: 16px;
    }
    button {
        width: 180px;
        font-size: 16px;
    }

.textarea{
    height: 200px;
}
  
  h1{
    font-size: 45px;
  }

  h2{
    font-size: 30px;
  }
  .cars{
    height: 200px;
  }
  .ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .parabout{
    border: 2px solid transparent;
    border-width: 80px;
    font-size: 10px;
}

}

@media (max-width: 470px){
  .all{
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar ul li{
    font-size: 25px;
    padding: 10px;
  }

  .navbar img{
    width:80%;
    height: 90%;
    padding-left: 10px;
    
  }
  .contact{
    flex-direction: column;
    text-align: center;
  }
  form {
        width: 400px;
        height: 450px;
        padding: 30px;
    }
    .contact h1 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    input, text {
        font-size: 16px;
    }
    button {
        width: 180px;
        font-size: 16px;
    }


  
  h1{
    font-size: 45px;
  }

  h2{
    font-size: 30px;
  }
  .cars{
    height: 200px;
  }
  .ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .parabout{
    border: 2px solid transparent;
    border-width: 80px;
    font-size: 10px;
}
}


@media (max-width: 600px){
    
  .navbar ul li{
    font-size: 20px;
    padding: 10px;
  }
  .navbar img {
        height: 100px;
    }
  .cars{
    height: 200px;
  }
  p{
    font-size: 15px;
  }
.all, .alll{
    grid-template-columns: repeat(2, 1fr);
  }
  .contact{
    flex-direction: column;
    text-align: center;
  }
  form {
        width: 400px;
        height: 450px;
        padding: 30px;
    }
    .contact h1 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    input, text {
        font-size: 16px;
    }
    button {
        width: 180px;
        font-size: 16px;
    }
  
  h1{
    font-size: 45px;
  }

  h2{
    font-size: 30px;
  }
  .cars{
    height: 200px;
  }
 
  
}
   

@media (max-width: 460px){
  .all{
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar ul li{
    font-size: 25px;
    padding: 10px;
    flex-direction: row;
  }

  .navbar img{
    width:80%;
    height: 100%;
    padding-left: 10px;
    
  }
}
  @media (max-width: 400px){
    
  .navbar ul li{
    font-size: 18px;
    padding: 10px;
  }
  .navbar img {
        height: 100px;
    }
  .cars{
    height: 200px;
  }
  p{
    font-size: 15px;
  }
  
    
 

#abou{
    overflow: hidden;
}
.abouimg{
    width:200px;
    
}

.parabout{
    border:2px solid transparent;
    padding:8px;
}
   .ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    padding: 2px;
     

  }

}

  @media (max-width: 300px){
    
  .navbar ul li{
    font-size: 15px;
    padding: 10px;
  }
  .navbar img {
        height: 100px;
    }
  .cars{
    height: 200px;
  }
  p{
    font-size: 15px;
  }
  
   .ins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 6px;
    
     
}

.ins{
 width:100px;
}
#abou{
    overflow: hidden;
}
.abouimg{
    width:200px;
    
}
  }